

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Macports-All Ports</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<meta charset="utf-8" />
</head>

<body class="body" style="background-color:#f6f6f6">
	<div>
		{% block content %}
		<table border="1" cellpadding="1" cellspacing="1"><tbody><tr><td>PORT ID</td><td>PORT NAME</td></tr>
		{% for port in object_list %}
		<tr><td>{{ port.portid }}</td><td><a href="/port/{{ port.portid }}"> {{ port.portname }}</a></td></tr>
		{% endfor %}
		</tbody>
		</table>
		{% endblock %}
	</div>
</body>

</html>


